@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$grey: #F3F2F0;
$black: #010101;
$red: #D40000;
$white: #FFFFFF;
$font-inter: 'Inter', sans-serif;

html {
	font-size: 10px;
}

a {
	transition: .2s;
	color: $black;
}



.wrapper {
	min-height: 100%;
	overflow: hidden;
	background-color: $grey;
	font-family: $font-inter;
	font-size: 1.6rem;
	font-weight: 400;
	color: $black;
	line-height: 2.1rem;
	z-index: -1;

}

.header {
	background-color: $grey;
	padding-top: 4.1rem;
	padding-bottom: 3rem;
	font-size: 1.4rem;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;




	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__nav {
		width: 48.2rem;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__item {}

	&__link {
		color: $black;

		&:hover {
			color: $red;
			cursor: pointer;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 27rem;
	}

	&__phone {
		color: $black;

		&:hover {
			color: $red;
			cursor: pointer;
		}
	}

	&__mail {
		color: $black;
		position: relative;

		&:hover {
			color: $red;
			cursor: pointer;
		}

		&::before {
			content: '';
			display: block;
			width: 1px;
			height: 25px;
			background-color: rgba($black, 0.2);
			position: absolute;
			bottom: -2px;
			right: 144px;
		}
	}

	&__burger {
		display: none;
		background: url(../images/burger.svg)0 0/cover no-repeat;
		width: 26px;
		height: 20px;
	}
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.main {
	margin: 12.4rem 0px 6.1rem 0px;
	position: relative;

	&__image {
		height: 31rem;
		margin: 0rem 0px 12rem 0px;

		& img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__subtitle {
		font-size: 2.8rem;
		line-height: 4.2rem;
		margin-bottom: 3rem;
		position: relative;
		z-index: 1;
	}

	&__title {
		font-size: 7.4rem;
		font-weight: 700;
		line-height: 9rem;
		text-transform: uppercase;
		letter-spacing: 0.23rem;
		position: relative;
		z-index: 1;
	}

	&__info {
		margin-top: 10rem;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 4.9rem;
		border-bottom: 1px solid $black;
	}


	&__btn {
		color: $black;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 2.4rem;
		background-color: transparent;
		padding-bottom: 1rem;
		display: flex;
		align-items: center;
		gap: 1.6rem;
		position: relative;

		&::before {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			background-color: $black;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: scale(0);
			transition: .2s ease-out;
		}

		&:hover {
			&::before {
				transform: scale(1);
			}
		}

		&::after {
			content: '';
			background: url(../images/main/main-arrow.svg) 0 0/cover no-repeat;
			display: block;
			width: 15px;
			height: 11px;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 27rem;
		align-self: flex-start;
		position: relative;
		z-index: 1;
	}

	&__list {
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 1px;
			height: 24px;
			background-color: rgba($black, 0.2);
			position: absolute;
			bottom: 0;
			right: -29px;
		}

		&:last-child::after {
			content: none;
		}
	}

	&__vk {
		color: $black;
		line-height: 2.4rem;

		&:hover {
			color: $red;
			cursor: pointer;
		}
	}

	&__inst {
		color: $black;
		line-height: 2.4rem;

		&:hover {
			color: $red;
			cursor: pointer;
		}
	}

	&__telegramm {
		color: $black;
		line-height: 2.4rem;

		&:hover {
			color: $red;
			cursor: pointer;
		}
	}

	&__row {
		margin-top: 6rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1107px;

	}

	&__item {
		max-width: 238px;
	}

	&__bigcircle {
		width: 253px;
		height: 253px;
		border-radius: 100%;
		background-color: $white;
		position: absolute;
		top: 375px;
		left: 23px;
		z-index: 0;
	}

	&__smallcircle {
		width: 106px;
		height: 106px;
		border-radius: 100%;
		background-color: $white;
		position: absolute;
		top: 652px;
		right: 188px;
		z-index: 0;
	}

	&__triangle {
		width: 67px;
		height: 95px;
		border: 34px solid transparent;
		border-bottom: 70px solid #D40000;
		position: absolute;
		top: 380px;
		left: -1px;
	}
}


.item-title {
	font-weight: 700;
	line-height: 2.4rem;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
	letter-spacing: 0.05rem;
}

.item-text {
	font-size: 1.4rem;
}


.about {
	margin-bottom: 5.9rem;
	padding-top: 12.1rem;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $black;
		padding-bottom: 5.9rem;
	}

	&__title {
		font-size: 2.8rem;
		line-height: 4.2rem;
		font-weight: 700;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
		align-self: start;
	}

	&__desciption {
		font-size: 2.8rem;
		line-height: 4.2rem;
		opacity: 0.8;
		max-width: 560px;
	}

	&__grid {
		display: grid;
		grid-template-columns: 220px 270px;
		grid-template-rows: 1fr 1fr;
		justify-content: end;
		gap: 6rem 7rem;

		margin-top: 6rem;
		padding-bottom: 2.7rem;
	}

	&__steps {
		margin-top: 3rem;
		padding-top: 12.1rem;

	}

}


.grid {

	&__item {}

	&__title {
		font-weight: 700;
		line-height: 2.4rem;
		margin-bottom: 2rem;
	}

	&__text {
		font-size: 1.4rem;
		opacity: 0.8;
	}
}

.steps {

	&__item {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		justify-items: start;
		align-items: center;
		gap: 1rem;
		margin-bottom: 3rem;
		padding-bottom: 2.9rem;
		border-bottom: 1px solid $black;

		&:first-child {
			padding-top: 3rem;
			border-top: 1px solid $black;
		}
	}

	&__title {
		font-size: 2.8rem;
		line-height: 4.2rem;
		display: flex;
		justify-content: space-between;
		gap: 4rem;


		&_01 {
			&::before {
				content: '01';
			}
		}

		&_02 {
			&::before {
				content: '02';
			}
		}

		&_03 {
			&::before {
				content: '03';
			}
		}
	}

	&__text {
		font-size: 1.6rem;
		line-height: 2.4rem;
		opacity: 0.8;
	}
}



.portfolio {
	padding-top: 12.1rem;
	margin-bottom: 18rem;
	position: relative;

	&__title {
		max-width: 1140px;
		margin: 0 auto;
		font-size: 7.4rem;
		font-weight: 700;
		line-height: 90px;
		text-transform: uppercase;
		position: relative;
		z-index: 1;

	}

	&__back {
		margin-top: 14.4rem;
		background: linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 100%);
	}

	&__grid {}

	&__box {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		justify-items: start;
		align-items: center;
		padding-top: 6.1rem;
		padding-bottom: 5.8rem;
		border-bottom: 1px solid $black;
		gap: 1rem;
	}

	&__content {}

	&__name {
		font-size: 2.8rem;
		font-weight: 700;
		line-height: 42px;
		margin-bottom: 4rem;
	}

	&__list {}

	&__link {
		line-height: 2.4rem;
		margin-bottom: 1rem;
	}

	&__text {
		margin-top: 4rem;
		line-height: 2.4rem;
		font-weight: 700;
	}

	&__image {
		width: 560px;
		height: 315px;
		position: relative;
		z-index: 1;

	}

	&__link-img01 {
		display: block;
		background: url(../images/portfolio/portfolio-img01.png) 0 0/cover no-repeat;
		width: 100%;
		height: 100%;
	}

	&__link-img02 {
		display: block;
		background: url(../images/portfolio/portfolio-img02.png)0 0/ cover no-repeat;
		width: 100%;
		height: 100%;
	}
}

.theBiggestCircle {
	width: 465px;
	height: 465px;
	border-radius: 100%;
	background-color: $white;
	position: absolute;
	top: 31px;
	left: 497px;
	z-index: 0;
}

.adverticement {
	padding-bottom: 3.9rem;

	&__description {
		font-size: 2.8rem;
		line-height: 42px;
		max-width: 870px;

	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		justify-items: left;
		gap: 8rem 2rem;
		border-top: 1px solid $black;
		padding-top: 8rem;
		margin-top: 8rem;
		margin-bottom: 18rem;
	}

	&__info {}
}


.grid-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;

	&__icon {
		width: 40px;
		height: 40px;

		&_money {
			background: url(../images/advertisement/money.svg)0 0/cover no-repeat;
		}

		&_img {
			background: url(../images/advertisement/img.svg)0 0/cover no-repeat;
		}

		&_clock {
			background: url(../images/advertisement/clock.svg)0 0/cover no-repeat;
		}

		&_phone {
			background: url(../images/advertisement/phone.svg)0 0/cover no-repeat;
		}

		&_code {
			background: url(../images/advertisement/code.svg)0 0/cover no-repeat;
		}

		&_file {
			background: url(../images/advertisement/file.svg)0 0/cover no-repeat;
		}
	}

	&__content {
		max-width: 244px;
	}

	&__title {
		font-weight: 600;
		line-height: 19px;
		margin-bottom: 1rem;
	}

	&__text {
		font-size: 1.4rem;
	}
}

.info-box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
	justify-items: center;
	border-right: 1px solid $black;
	border-bottom: 1px solid $black;


	&__item {
		width: 100%;
		height: 100%;
		padding: 3.1rem 0rem;
		border-top: 1px solid $black;
		border-left: 1px solid $black;
	}


	&__logo {
		text-align: center;
		position: relative;
		max-width: 100px;
		margin: 0 auto;
		transition: .2s;

		&:hover {
			.info-box__window {
				visibility: visible;
				transform: scale(1);
			}
		}

		& img {
			position: relative;
			z-index: 0;
			transition: .2s;
		}
	}

	&__html5 {
		object-fit: cover;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			cursor: pointer;
		}
	}

	&__css {
		object-fit: cover;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			cursor: pointer;
		}
	}

	&__js {
		object-fit: cover;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			cursor: pointer;
		}
	}

	&__jquery {
		object-fit: cover;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			cursor: pointer;
		}
	}

	&__bootstrap {
		object-fit: cover;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			cursor: pointer;
		}
	}

	&__php {
		object-fit: cover;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			cursor: pointer;
		}
	}

	&__vue {
		object-fit: cover;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			cursor: pointer;
		}
	}

	&__wordpress {
		object-fit: cover;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			cursor: pointer;
		}
	}

	&__window {
		visibility: hidden;
		background-color: #E31B1B;
		width: 232px;
		padding: 3.5rem 1.5rem 2.7rem;
		position: absolute;
		bottom: -150px;
		left: -65px;
		z-index: 1;
		transform: scale(0);
		transition: .2s ease-out;



		& p {
			color: rgba($white, .8);
			font-size: 1rem;
			font-weight: 500;
			line-height: 15px;

			align-items: center;
		}
	}

	&__title {
		margin-bottom: 1rem;
		position: relative;


		&::after {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-bottom: 20px solid #E31B1B;
			position: absolute;
			top: -60px;
			left: 84px;
		}
	}

	&__text {}
}



.rates {
	position: relative;
	padding-top: 14.1rem;
	margin-bottom: 6.2rem;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 2rem;


	}

	&__title {
		align-self: start;
		font-size: 2.8rem;
		font-weight: 700;
		line-height: 42px;
		letter-spacing: 0.05rem;
		text-transform: uppercase;
		position: relative;
		z-index: 1;

	}

	&__description {
		max-width: 560px;
		font-size: 2.8rem;
		line-height: 42px;
	}

	&__item {
		margin-top: 6rem;
	}

	&__circle-140 {
		width: 140px;
		height: 140px;
		border-radius: 100%;
		background-color: $white;
		position: absolute;
		top: 92px;
		left: 80px;
		z-index: 0;
	}

	&__circle-90 {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		background-color: $white;
		position: absolute;
		top: 616px;
		left: 685px;
		z-index: 0;
	}

	&__circle-90-90 {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		background-color: $white;
		position: absolute;
		bottom: -17px;
		left: 685px;
		z-index: 0;
	}
}


.rates-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	padding-top: 5.8rem;
	border-top: 1px solid $black;

	&__left {
		max-width: 382px;
	}

	&__title {
		font-size: 2.8rem;
		line-height: 42px;
		margin-bottom: 2rem;
	}

	&__description {
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 7.5rem;
		opacity: .8;
	}

	&__btn {
		color: $black;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 24px;
		background-color: transparent;
		display: flex;
		align-items: center;
		gap: 1.7rem;
		position: relative;

		&::before {
			content: "";
			display: block;
			height: 2px;
			width: 100%;
			background-color: #010101;
			position: absolute;
			bottom: -1rem;
			left: 0;
			transform: scale(0);
			transition: .2s ease-out;
		}

		&:hover::before {
			transform: scale(1);
		}

		&::after {
			content: '';
			background: url(../images/main/main-arrow.svg)0 0/cover no-repeat;
			display: block;
			width: 15px;
			height: 11px;
		}

	}

	&__right {}

	&__text {
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 2rem;
	}

	&__list {
		margin-bottom: 4rem;
	}

	&__link {
		line-height: 32px;
		opacity: .8;
		display: flex;
		gap: 1rem;
		align-items: center;

		&::before {
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background-color: $black;
		}
	}

	&__cost {
		font-weight: 700;
		font-size: 4.2rem;
		line-height: 63px;
		position: relative;
		z-index: 1;
	}
}

.aboutTell {
	padding-top: 12.1rem;
	position: relative;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 6rem;
		margin-bottom: 6rem;
		border-bottom: 1px solid $black;
		position: relative;
		z-index: 1;
	}

	&__title {
		max-width: 286px;
		font-size: 2.8rem;
		font-weight: 700;
		line-height: 42px;
		letter-spacing: 0.05rem;
		text-transform: uppercase;

	}

	&__description {
		max-width: 560px;
		font-size: 2.8rem;
		line-height: 42px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12.8rem;
	}

	&__social {
		align-self: end;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5.6rem;
	}

	&__link {
		position: relative;

		& a {

			color: $black;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 24px;

			&:hover {
				color: $red;
				cursor: pointer;
			}
		}

		&::after {
			content: "";
			display: block;
			width: 1px;
			height: 24px;
			background-color: rgba($black, 0.2);
			position: absolute;
			bottom: 1px;
			right: -29px;
		}

		&:last-child::after {
			content: none;
		}
	}

	&__vk {}

	&__inst {}

	&__telegram {}

	&__card {
		align-self: start;
		flex-basis: 560px;
		flex-shrink: 1;
		position: relative;
	}

	&__form {
		display: flex;
		flex-direction: column;

	}

	&__label {
		font-size: 1.2rem;
		line-height: 18px;
		margin-bottom: 1rem;
	}

	&__input {
		background-color: rgba($black, 0.05);
		font-size: 1.2rem;
		line-height: 18px;
		color: rgba($black, 0.2);
		width: 100%;
		padding: 2.4rem 0rem 2.4rem 2rem;
		margin-bottom: 1.9rem;
		position: relative;

		&:focus {
			color: rgba($black, 1);
		}

		&_opacity {

			&::placeholder {
				color: rgba($black, 1);
			}
		}
	}


	&__btn {
		margin-top: 3.6rem;
		width: 100%;
		padding: 2.1rem 0rem 2rem;
		background-color: $red;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 24px;
		color: $white;
		position: relative;
		z-index: 0;

		&:hover {
			cursor: pointer;
			background-color: #EA0E00;
		}
	}

	&__arrow {
		position: absolute;
		background: url(../images/aboutTell/aboutTell_Arrow\ .svg)0 0/cover no-repeat;
		width: 12px;
		height: 7px;
		top: 172px;
		right: 24px;
	}

	&__circle-300 {
		position: absolute;
		top: 92px;
		left: -2px;
		width: 300px;
		height: 300px;
		border-radius: 100%;
		background-color: $white;
		z-index: 0;
	}

	&__triangle {
		position: absolute;
		width: 59px;
		height: 91px;
		border: 30px solid transparent;
		border-bottom: 70px solid $red;
		top: 115px;
		left: -23px;
		z-index: 0;
	}
}


.drop {
	display: inline-block;
	position: relative;
	text-align: center;

	input[type="checkbox"] {
		display: none;

		&:checked {
			~.drop-items {
				opacity: 1;
				max-height: 400px;
				padding: .6rem 0;
			}

			~.control {
				z-index: 99;



				&:after {
					transform: rotate(180deg);
				}
			}

			~.overlay-close {
				transform: none;
				pointer-events: initial;
			}
		}
	}

	.control {
		font-size: 1.2rem;
		text-align: left;
		width: 100%;
		color: $black;
		display: inline-block;
		cursor: pointer;
		padding: 2.4rem 0rem 2.3rem 2rem;
		background: rgba($black, 0.05);
		transition: all .3s ease;

		&:after {
			content: "";
			display: inline-block;
			height: 7px;
			width: 12px;
			position: absolute;
			top: 31px;
			right: 24px;
			margin-left: .8em;
			background-image: url(../images/aboutTell/aboutTell_Arrow\ .svg);
			background-repeat: no-repeat;
			background-position: right;
			background-size: contain;
			transition: transform .3s ease;
		}
	}

	.drop-items {
		text-align: left;
		font-size: 1.2rem;
		line-height: 18px;
		position: absolute;
		width: 100%;
		padding: 0;
		margin: 0;
		transition: all .3s ease;
		background-color: rgba($black, 0.05);
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		z-index: 99;

		.item-drop {
			list-style: none;
			position: relative;
			z-index: 99;

			a {
				display: block;
				color: rgba($black, 0.4);
				padding: .6rem 2rem;
				transition: all .3s ease;

				&:hover {
					color: rgba($black, 1);
				}

			}
		}
	}

	.overlay-close {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9;
		transform: translate(100%, 0);
		pointer-events: none;
	}
}

.drop input[type=checkbox]:checked~.aboutTell__btn {
	visibility: hidden;

}

//Второй вариант

/*
.select {
	background-color: rgba($black, 0.05);
	padding: 2.4rem 0rem 2.3rem 2rem;
}

.option {
	background-color: rgba($black, 0.05);
}
*/





.footer {

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.4rem;
		padding-top: 6.1rem;
		margin-bottom: 4rem;
		border-top: 1px solid $black;

	}

	&__list {
		width: 48.2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {}

	&__link {
		color: $black;

		&:hover {
			color: $red;
			cursor: pointer;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 27rem;
	}

	&__phone {
		color: $black;

		&:hover {
			color: $red;
			cursor: pointer;
		}
	}

	&__mail {
		color: $black;
		position: relative;

		&:hover {
			color: $red;
			cursor: pointer;
		}

		&::before {
			content: '';
			display: block;
			width: 1px;
			height: 25px;
			background-color: rgba($black, 0.2);
			position: absolute;
			bottom: -2px;
			right: 144px;
		}
	}

	&__box {
		font-size: 1.2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: rgba($black, 0.3);
		line-height: 18px;
		padding-bottom: 4.2rem;
	}

	&__author {}

	&__created {}

	&__Annblock {
		color: rgba($black, 0.3);
		border-bottom: 1px solid rgba($black, 0.3);

		&:hover {
			color: rgba($black, 1);
			border-bottom: 1px solid rgba($black, 1);
		}
	}
}


.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(black, .8);
	top: 0;
	left: 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: .2s;

	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		cursor: inherit;
	}

	&__body {
		min-height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 10px;
	}

	&__content {
		background-color: $grey;
		flex-basis: 60rem;
		flex-shrink: 1;
		margin: 0 auto;
		padding: 5.5rem 2rem 4rem;
		position: relative;
	}

	&__close {
		background: url(../images/close.svg)0 0/cover no-repeat;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__header {
		border-bottom: 1px solid $black;
		margin-bottom: 4rem;
	}

	&__title {
		text-align: center;
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 33px;
		letter-spacing: 0.05rem;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}

	&__text {
		display: block;
		text-align: center;
		line-height: 2.4rem;
		padding-bottom: 3rem;
	}
}

.popup:target {
	opacity: 1;
	visibility: visible;
}




.menu {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(black, .8);
	top: 0;
	left: 0;
	z-index: 11;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: .2s;

	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		cursor: inherit;
	}

	&__body {
		min-height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 10px;
	}

	&__burger {
		background-color: $grey;
		flex-basis: 60rem;
		flex-shrink: 1;
		margin: 0 auto;
		position: relative;
	}

	&__close {
		background: url(../images/close.svg)0 0/cover no-repeat;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__box {
		padding: 8rem 1rem 4.1rem;
		text-align: center;
	}

	&__list {

		& li {
			padding-top: 2rem;
			padding-bottom: 2rem;
			border-top: 1px solid rgba($black, 0.2);

			&:last-child {
				border-bottom: 1px solid rgba($black, 0.2);
			}

			& a:hover {
				color: $red;
				transition: .2s;
			}
		}


	}

	&__link {
		font-size: 2.6rem;
		line-height: 39px;

	}

	&__footer {
		margin-top: 4rem;
	}

	&__row {}
}

.menu-item {
	&:first-child {
		margin-bottom: 2rem;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		& li {
			position: relative;

			&::after {
				content: '';
				display: block;
				width: 1px;
				height: 24px;
				background-color: rgba($black, 0.2);
				position: absolute;
				bottom: 0;
				right: -13px;
			}

			&:last-child::after {
				content: none;
			}
		}
	}

	&__link {
		&:hover {
			color: $red;
			transition: .2s;
		}
	}
}

.menu:target {
	opacity: 1;
	visibility: visible;
}